<h2>About Me</h2>
<hr />
<p>
I am a developer based out of Bangalore and that means, I code for a living :)
</p>

<h2>Things I love</h2>
<hr />
<ul>
  <li>Led Zeppelin</li>
  <li>NodeJS</li>
  <li>Raspberry Pi</li>
  <li>Linux</li>
  <li>C++</li>
  <li>Travelling</li>
</ul>

<h2>Take a look at</h2>
<hr />
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/sandeepabhat/">Work</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/sandeepbhat/">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/sandeepabhat/">Personal</a>
  </li>
</ul>

<hr />

<p>
  &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>, Sandeep Bhat
</p>
